<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Karaoké!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Le grand catalogue d'Halloween</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="form-group">
                        <label for="search">Chercher un artiste ou une chanson</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="Vas-y, tape là-dedans...">
                    </div>
                    <button type="submit" class="btn btn-default">Chercher!</button>
                </form>
                <a href="/random">Ou laisse les dieux de l'aléatoire chosir!</a>
            </div>
        </div>
        

        {% if res is not none %}
        <div class="row">
            <div class="col-md-12">
                <h2>On a trouvé ça...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                {% for song in res %}
                    <li>{{ song[0] }} - {{song[1]}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html> 