<!DOCTYPE html>
<html>
<head>
    <title>Karaoké!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ song[0] }} - {{ song[1] }}<br>
                <small>C'est ton destin, va chanter maintenant!</small></h1>
            </div>
        </div>
    </div>
</body>
</html>